<div id="mainCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mainCarousel" data-slide-to="1"></li>
        <li data-target="#mainCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">

        <div class="carousel-item" data-interval="3000" *ngFor="let image of carousel;index as i;first as isFirst" [ngClass]="{active:isFirst}">
            <img [src]="image.imageUrl" class="d-block w-100" alt="slide1">
            <div class="carousel-caption">
                <h1>Nouvelles oeuvres</h1>
                <h2>{{image.name}}</h2>
                <a [routerLink]="['./photos/']" class="btn btn-lg btn-primary my-3 text-white">Explorer la nouvelle
                    collection</a>
            </div>
        </div>

    </div>
    <a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<h1 class="text-center my-5">Photographies d’art</h1>
<h2 class="text-center my-3 py-4 bg-primary text-white text-uppercase">Oeuvres en édition limitée</h2>

<section class="container-fluid">

    <div class="card-container p-4">
        <a [routerLink]="['./photos/' + image.id]" *ngFor="let image of images">
            <div class="card mx-2 my-1">
                <img [src]="image.imageUrl">
                <div class="card-body text-right">
                    <h3><strong><a [routerLink]="['/artists/' + image.artiste.id]">{{image.artiste.nickName}}</a></strong>
                    </h3>
                    <p>{{image.name}}</p>
                    <p>A partir de: <strong>{{image.price}} €</strong></p>
                </div>
            </div>
        </a>
    </div>

    <div class="text-center m-3">
        <a [routerLink]="['./photos/']" class="btn btn-lg btn-primary text-white mb-4">Explorer la nouvelle collection</a>
    </div>
</section>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 p-0">
            <div class="quatro-wrapper">
                <img src="/assets/home-img/Voyages.jpg">
                <div class="carousel-caption">
                    <h1>Voyages</h1>
                    <h4>Vivez vos rêves</h4>
                    <a [routerLink]="['./photos/']"  class="btn btn-light">Parcourir la
                        collection</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-0">
            <div class="quatro-wrapper">
                <img src="/assets/home-img/noir_et_blanc_paris.jpg">
                <div class="carousel-caption">
                    <h1>Noir & Blanc</h1>
                    <h4>Des oeuvres intemporelles</h4>
                    <a [routerLink]="['./photos/']"  class="btn btn-light">Parcourir la
                        collection</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-0">
            <div class="quatro-wrapper">
                <img src="/assets/home-img/edifice_oublier.jpg">
                <div class="carousel-caption">
                    <h1>Aurélien Vilette</h1>
                    <h4>Edifices oubliés</h4>
                    <a [routerLink]="['./photos/']"  class="btn btn-light">Parcourir la
                        collection</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-0">
            <div class="quatro-wrapper">
                <img src="/assets/home-img/Aurélien_Vilette01.jpg">
                <div class="carousel-caption">
                    <h1>Derniers exemplaires</h1>
                    <h4>Ne passez pas à côté de votre oeuvre</h4>
                    <a [routerLink]="['./photos/']"  class="btn btn-light">Parcourir la
                        collection</a>
                </div>
            </div>
        </div>
    </div>
</div>