<section class="container-fluid">
    <h1>Mon Compte | {{userName}}</h1>
    <div class="row">
        <div class="col-md-4">
            <section class="container-fluid">
                <div class="list-group">
                    <a [routerLink]="['./data']" class="list-group-item list-group-item-action" routerLinkActive="active"><i
                            class="fas fa-user"></i> Données</a>
                    <a [routerLink]="['./orders']" class="list-group-item list-group-item-action" routerLinkActive="active"><i
                            class="fas fa-box-open"></i> Commandes</a>
                    <a [routerLink]="['./address']" class="list-group-item list-group-item-action" routerLinkActive="active"><i
                            class="fas fa-map-marker-alt"></i> Adresses</a>
                    <a *ngIf="userProfile == 'artiste'" [routerLink]="['./artist-data']" class="list-group-item list-group-item-action" routerLinkActive="active"><i
                            class="fas fa-camera-retro"></i> Données Artiste</a>
                    <a *ngIf="userProfile == 'artiste'" [routerLink]="['./artist-photos']" class="list-group-item list-group-item-action" routerLinkActive="active"><i
                            class="fas fa-camera-retro"></i> Mes Photos</a>
                    <a *ngIf="userProfile == 'admin'" [routerLink]="['./admin-sellers']" class="list-group-item list-group-item-action" routerLinkActive="active"><i
                            class="fas fa-cogs"></i> Activation Comptes Vendeurs</a>
                    <a *ngIf="userProfile == 'admin'" [routerLink]="['./admin-orders']" class="list-group-item list-group-item-action" routerLinkActive="active"><i
                            class="fas fa-cogs"></i> Suivi des Commandes</a>
                </div>
                <button class="btn btn-block btn-danger text-light mt-4" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Déconnexion</button>
            </section>
        </div>
        <div class="col-md">
            <section class="container-fluid">
                <router-outlet></router-outlet>
            </section>
        </div>
    </div>
</section>