<h3>Activation Comptes Vendeurs</h3>
<form method="POST">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col">Prénom Nom</div>
                <div class="col">Email@email.com</div>
                <div class="col">0356854563</div>
                <div class="col">
                    <div class="form-group form-check m-0">
                        <input type="checkbox" class="form-check-input" id="vendeurid">
                        <label class="form-check-label" for="vendeurid">Vendeur</label>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col">Prénom Nom</div>
                <div class="col">Email@email.com</div>
                <div class="col">0356854563</div>
                <div class="col">
                    <div class="form-group form-check m-0">
                        <input type="checkbox" class="form-check-input" id="vendeurid">
                        <label class="form-check-label" for="vendeurid">Vendeur</label>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <button type="submit" class="btn btn-primary text-light mt-3"><i class="fas fa-check"></i> Valider</button>
</form>