/* Sticky footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #343a40;
}
footer .footer-bottom {
    background-color: #212529;
}/* Sticky footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #343a40;
}
footer .footer-bottom {
    background-color: #212529;
}