<section class="container">
    <div class="list-group list-group-flush">

        <a *ngFor="let order of orders" class="list-group-item list-group-item-action">
            <div class="row">
                <div class="col-md">
                    <a [routerLink]="['/photos/' + order.article.id]">
                        <img height="100" [src]="order.article.imageUrl" />
                    </a>
                </div>
                <div class="col-md py-2 p-md-0">
                    <div>
                        <a [routerLink]="['/artists/1']"><b></b></a>
                    </div>
                    <div>
                        <small>{{order.article.name}}</small>
                    </div>
                    <div>
                        <small>{{order.article.stock}} exemplaires</small>
                    </div>
                </div>
                <div class="col-md py-2 p-md-0">
                    <div>
                        <small><b>Format : </b></small>
                        <small>{{order.format.frName}}</small>
                    </div>
                    <div>
                        <small><b>Finition : </b></small>
                        <small>{{order.finish.frName}}</small>
                    </div>
                    <div>
                        <small><b>Cadre : </b></small>
                        <small>{{order.frame.frName}}</small>
                    </div>
                </div>
                <div class="col-md-2 py-2 py-md-4">
                    <div class="input-group">
                        <input type="number" class="form-control" [value]="order.quantity" (change)="saveChange(order)" [(ngModel)]="order.quantity">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-danger" (click)="deleteLine(order)"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 py-2 py-md-4">
                    <h3>{{order.price * order.quantity | number : '1.2-2'}}€</h3>
                    <small>Dont TVA 20% : {{order.price * 0.2 * order.quantity | number : '1.2-2'}}€</small>

                </div>
            </div>
        </a>

        <div class="row">
            <div class="col-md-5 offset-md-7">
                <div class="bg-white border-bottom border-top p-3 mb-4">
                    <div class="row">
                        <div class="col-5">
                            <h4 class="my-2">Total</h4>
                        </div>
                        <div class="col-7 text-right">
                            <p class="m-0"><b>{{totalPrice | number : '1.2-2'}}€</b></p>
                            <small>Dont TVA 20% : {{totalPrice * 0.20 | number : '1.2-2'}}€</small>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-block btn-danger mb-5" (click)="validateCommand()"><i class="fas fa-cart-arrow-down"></i> Valider mon panier</button>
                <div class="alert alert-success" role="alert" *ngIf="commandStatus === 'commande'">
                    Votre Commande à bien été prise en compte
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="commandStatus === 'erreur'">
                    Veuillez vous connecter pour finaliser votre commande
                </div>
            </div>
        </div>
    </div>
</section>