/* General */
html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    min-height: 90vh;
    background-color: #f8f9fa;
    /* Margin top by header height */
    margin-top: 135px;
    /* Margin bottom by footer height */
    margin-bottom: 210px;
  }
  
  .list-group-item.active {
    font-weight: bold;
    background: #3cd493!important;
  }

  section {
    padding: 1.5rem 0;
  }

  /* breadcrumb */
  .breadcrumb {
      margin: 0;
      padding: 0.75rem 1.5rem;
      background-color: #212529;
      border-radius: 0;
      color: #fff;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  .breadcrumb a {
      color: rgba(255, 255, 255, 0.5);
  }
  .breadcrumb span {
      color: #66ddaa;
      font-weight: bold;
  }
  .breadcrumb-item + .breadcrumb-item::before {
      font-family: 'FontAwesome';
      content: "\f105" !important;
  }


  
  @media (max-width: 991px) {
    body {
      margin-top: 52px;
    }
  }
  
  @media (max-width: 767px) {
    body {
      margin-bottom: 315px;
    }
  }
  
  @media (max-width: 576px) {
    body {
      margin-top: 50px;
    }
  }
  
//Pagination
.page-item {
  cursor: pointer;
}

//Loader animation sur la page de garde
#main-loader {
  margin-top:-150px;
  position: absolute; 
  width: 100%; 
  height: 100%; 
  z-index: 100000
}
#loader-wrapper {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-loader h1{
  color: #fff;
  font-size: 4em;
}
#main-loader h1 span{
  animation: animate 1s linear infinite;
}
#main-loader h1 span:nth-child(1){
    animation-delay: 0s;
}
#main-loader h1 span:nth-child(2){
    animation-delay: 0.10s;
}
#main-loader h1 span:nth-child(3){
    animation-delay: 0.20s;
}
#main-loader h1 span:nth-child(4){
    animation-delay: 0.30s;
}
#main-loader h1 span:nth-child(5){
    animation-delay: 0.40s;
}
#main-loader h1 span:nth-child(6){
    animation-delay: 0.50s;
}
#main-loader h1 span:nth-child(7){
    animation-delay: 0.60s;
}
@keyframes animate{
    0%,100%{
        color: #fff;
        filter: blur(0.5px);
        text-shadow: 0 0 10px #52e7ce,
                     0 0 20px #52e7ce,
                     0 0 40px #52e7ce,
                     0 0 80px #52e7ce,
                     0 0 120px #52e7ce,
                     0 0 200px #52e7ce,
                     0 0 300px #52e7ce,
                     0 0 500px #52e7ce;
    }
    50%,80%{
        color: #fff;
        filter: blur(3px);
        text-shadow: 0 0 10px #fff;
    }
}