<div *ngFor="let frame of frames" class="list-group list-group-flush">
    <button *ngIf="(frame.formatId == curentFormat)" class="list-group-item list-group-item-action" (click)="setSelection(frame.id)"
        [ngClass]="{'active' : selection == frame.id}">
        <div class="row">
            <div class="col-2">
                <img class="img-fluid" [src]="frame.imageUrl" />
            </div>
            <div class="col">
                <div>
                    <b>{{frame.frName}}</b>
                </div>
                <div>
                    <small>{{frame.frDescription}}</small>
                    <br>
                    <b>{{itemPrice * (frame.percentagePriceChange / 100) | number: '1.2-2'}}€</b>
                </div>
            </div>
        </div>
    </button>
</div>

<div class="row">
    <div class="col-sm-2">
        <button [routerLink]="" class="btn btn-block btn-lg btn-dark text-light mt-3" (click)="backClicked()">
            <i class="fas fa-angle-double-left"></i>
        </button>
    </div>
    <div class="col-sm">
        <button class="btn btn-block btn-lg btn-danger text-light mt-3" [ngClass]="{'disabled' : selection === 0}"
            (click)="saveChoice()" onClick="this.disabled=true;">
            Ajouter au panier
            <i class="fas fa-cart-arrow-down"></i>
        </button>
    </div>
</div>