<section class="container">
    <h1 class="text-center">Créer votre compte</h1>
    <form class="mx-auto my-4">
        <h4>Informations Personnelles</h4>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                <label class="form-check-label" for="inlineRadio1">M.</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label" for="inlineRadio2">Mme.</label>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="RegisterInputLastName" aria-describedby="lastName"
                placeholder="Prénom">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="RegisterInputLastName" aria-describedby="lastName"
                placeholder="Nom">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="RegisterInputEmail" aria-describedby="emailHelp"
                placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="RegisterInputPassword" placeholder="Mot de Passe">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="RegisterInputPasswordConfirm"
                placeholder="Confirmation du Mot de Passe">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="RegisterInputTel" aria-describedby="tel"
                placeholder="Téléphone">
        </div>
        <h4>Adresse de Livraison</h4>
        <div class="form-row my-2">
            <div class="col-3">
                <input type="text" class="form-control" placeholder="N°">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Rue">
            </div>
        </div>
        <div class="form-row my-3">
            <div class="col-4">
                <input type="text" class="form-control" placeholder="Code Postal">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Ville">
            </div>

            <div class="col">
                <input type="text" class="form-control" placeholder="Pays">
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-block btn-primary">Créer mon compte</button>
    </form>
</section>