<section class="container-fluid">
    <div class="text-center">
        <h1 class="text-light">Artistes</h1>
    </div>
    <div class="card-container my-5">
        <a *ngFor="let artiste of artistes" [routerLink]="['/artists/' + artiste.id]">
            <div class="card mx-2 my-1">
                <img class="img-responsive" [src]="artiste.avatarURL">
                <div class="carousel-caption">
                    <h1>{{artiste.nickName}}</h1>
                </div>
            </div>
        </a>
    </div>
</section>