<section class="container-fluid">
    <div class="artist-presentation mb-5">
        <h1 class="text-light mb-5">{{currentArtiste.nickName}}</h1>
        <p class="text-muted mb-5">
            {{currentArtiste.frPresentation}}
        </p>
        <a href="{{currentArtiste.facebook}}" target="_blank" class="btn btn-link"
            *ngIf="currentArtiste.facebook != ''">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="{{currentArtiste.twitter}}" target="_blank" class="btn btn-link" *ngIf="currentArtiste.twitter != ''">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="{{currentArtiste.instagram}}" target="_blank" class="btn btn-link" *ngIf="currentArtiste.instagram != ''">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="{{currentArtiste.printerest}}" target="_blank" class="btn btn-link"
            *ngIf="currentArtiste.printerest != ''">
            <i class="fab fa-pinterest"></i>
        </a>
        <p class="my-3 text-center" *ngIf="currentArtiste.webSite != ''">
            <a href="{{currentArtiste.webSite}}">{{currentArtiste.webSite}}</a>
        </p>
    </div>
    <div class="card-container p-4" [@cardAnimation]="articles">
        <a *ngFor="let article of articles" [routerLink]="['/photos/' + article.id]">
            <div class="card mx-2 my-1">
                <img [src]="article.imageUrl">
                <div class="card-body text-right">
                    <h5 class="text-muted">{{article.name}}</h5>
                    <p class="text-light"><small>A partir de: </small><strong>{{article.price}} €</strong></p>
                </div>
            </div>
        </a>
    </div>
</section>