section {
    margin-top: -1px;
    background-color: #212529;
    min-height: 90vh;
}

.artist-presentation {
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
}
.artist-presentation p {
    text-align: justify;
}

/* ========== Cards ========== */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-container a p{
    color: #212529;
}
.card-container a:hover{
    text-decoration: none;
}
.card {
    background-color: #212529;
    border: none!important;
    overflow: hidden;
    max-width: 37vw;
    transition: all 0.1s cubic-bezier(.25,.8,.25,1);
}
@media (max-width: 370px) {
  .card {
    max-width: 80vw;
  }
}
.card p {
    margin: 0;
}
.card:hover {
    z-index: 10;
}
.card img {
    height: 250px;
    object-fit: contain;
}