<h3 class="mb-4">Données</h3>
<div class="row mb-1">
    <div class="col-md-2">
        <b>Nom : </b>
    </div>
    <div class="col-md">
        {{lastName}}
    </div>
</div>
<div class="row mb-1">
    <div class="col-md-2">
        <b>Prénom : </b>
    </div>
    <div class="col-md">
        {{firstName}}
    </div>
</div>
<div class="row mb-1">
    <div class="col-md-2">
        <b>Date de Naissance : </b>
    </div>
    <div class="col-md">
        {{dateOfBirth}}
    </div>
</div>
<div class="row mb-1">
    <div class="col-md-2">
        <b>Email : </b>
    </div>
    <div class="col-md">
        {{email}}
    </div>
</div>
<div class="row mb-1">
    <div class="col-md-2">
        <b>Téléphone : </b>
    </div>
    <div class="col-md">
        {{phoneNumber}}
    </div>
</div>